
ul {
    display: flex;
    gap: 12px;
    list-style: none;
    border-bottom: 2px solid gainsboro;
    padding-bottom: 5px;
  }

  a{
    text-decoration: none;
  }

  li.logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
  }