*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*!!!!*/
}

ul {
  /*Clear ul's default css*/
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  /*Clear a's default css*/
  text-decoration: none;
  color: #000000;
}

body {
  text-align: center;/* Note that all offsprings of body will inherit this property */
  background-color: #ededed;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 100px;
}

.container{
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}



.console ul li{
  margin-bottom: 20px;
}

.console ul li:last-child{
  margin-top: 60px;
}
.console ul button{
  width: 150px;
  height: 50px;
  border-radius: 10px;

  font-size: 20px;
}

.console ul button:hover{
  background-color: #d7ab4c;
}

.defaultGrid{
  background-color: #ffffff;
  border: 1px  solid #ededed;
}
