* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*NOTE:it helps a lot*/
}

ul {
  /*Clear ul's default css*/
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  /*Clear a's default css*/
  text-decoration: none;
  color: #000000;
}

body {
  /* Note that all offsprings of body will inherit this property */
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.game h1{
  margin-bottom: 20px;
}

.game-list {
  display: flex;
  gap: 30px;

}

.game-list button {
  background-color: #5dd1ee;
  width: 150px;
  height: 50px;
  font-size: 25px;
  border-radius: 25px;
}

.game-score {
  
  display: flex;
  /* justify-content: space-around; */
}

.game-score p {
  width: 200px;
  background-color: yellowgreen;
  border: solid 2px black;
  font-size: 20px;
}

.game-info p {
  width: 400px;
  background-color: pink;
  margin: 5px auto;
  border: solid 2px black;
}

.final-result p {

  width: 400px;
  background-color: red;
  margin: 5px auto;
  border: solid 2px black;
  font-size: 20px;
}